//Screen sizes.
$mql: 1000px;

//Primary Color Palette
$color-prime: #ffe52d;
$color-prime-tint: #ffd5cb;
$color-prime-shade: #e6442c;

//Secondary Color Palette
$color-secondary: #352e2f;
$color-secondary-tint: #4d4445;
$color-secondary-shade: #211d1d;

//Neutral Color Palette
$color-neutral: #f2f2f2;
$color-neutral-tint: #fafafa;
$color-neutral-shade: #c1bcbc;

$color-body-prime: #485465;
$color-body-secondary: #817676;
$color-body-background: #222222;

$color-white: #ffffff;
$color-font: #060606;

// Header styles
$header-border: #ef773c;
$color-header-background: #18253e;
$color-header: #2b2b2b;

// Navigation
$color-nav-background: #18253e;
$color-nav-hover: #ffe52d;

// Splash
$color-splash-paragraph: #ffe52d;
$splash-content-background: #18253e;

// About us
$color-about-header: #353535;

// Subscribe
$input-background: #ffd3be;
$input-font: #18253e;

// News summary
$news-sum-background: #0f1827;
$news-sum-text-background: #010101;

// Events Summary
$events-sum-header: #010101;
$events-sum-text: #010101;

// Rankings Summary
$ranking-sum-background: #0f1827;
$ranking-toggle-active: #18253e;
$ranking-table-header: #18253e;
$ranking-table-cell-background: #18253e;
$ranking-table-cell-background-second: #fa9f1b;
$ranking-table-cell-background-last: #03adef;

// Footer
$footer-background: #18253e;
