* {
  box-sizing: border-box; }

html, body, button {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100%; }
  html > div:first-of-type, body > div:first-of-type, button > div:first-of-type {
    height: 100%; }

.container {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  display: flex; }

.content {
  flex: 1;
  background: #f2f2f2;
  padding-bottom: 2rem;
  margin-left: 70px; }

.chart__grid {
  display: flex;
  background: #f2f2f2;
  padding: 0 2rem; }
