@import '../../config-styles/variables';

.social {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: rgba(#000, 0.8);
}

.social__item {
    display: block;
    width: 100%;
    
    a {
        padding: 0.5rem;
        display: block;
        text-decoration: none;
        color: $color-white;
        text-align: center;

        &:hover {
            cursor: pointer;
            color: $header-border;
        }
    }
}